@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* Colors */
    --color-primary: #0057b8;
    --color-secondary: #00a8e0;
    --color-tertiary: #dbf3fa;
    --color-checkbox-unchecked: #e7e8eb;
    --color-checkbox-checked: #0057b8;
    --color-text-header: #1d2328;
    --color-text-body: #454b51;
    --color-text-subtitle: #737373;
    --color-border: #e9eaeb;
    --color-nav-hover: #e7e8eb;
    --color-background: #ffffff;
    --color-background-secondary: #f1fafd;
    --color-success: #cff7d3;
    --color-warning: #fff1c2;
    --color-error: #fdd3d0;
    --color-text-chips: #1d2328;
    --color-logout: #fdd3d0;

    /* Typography */
    --font-family-header: 'Open Sans', sans-serif;
    --font-family-body: 'Inter', sans-serif;
    --font-size-xs: 0.75rem; /* 12px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
    --checkbox-size: 1.5rem;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* Spacing */
    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --font-nav-item: 0.75rem;

    /* Borders & Radius */
    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
    --border-radius-rounded: 10rem;

    /* Transitions */
    --transition-speed: 0.2s;
    --transition-ease: ease-in-out;

    /* Shadows */
    --elevation-sm: 0 5px 30px 0 rgb(0 0 0 / 10%);
}

/* Dark Theme */
.dark-theme {
    --color-primary: #66afff;
    --color-secondary: #60d4ff;
    --color-tertiary: #24363a;
    --color-checkbox-unchecked: #282a2d;
    --color-checkbox-checked: #66afff;
    --color-text-header: #f2f4f5;
    --color-text-body: #babdc0;
    --color-text-subtitle: #8c8c8c;
    --color-border: #1e1f20;
    --color-nav-hover: #282a2d;
    --color-background: #121212;
    --color-background-secondary: #1a1a1a;
    --color-success: #aeecb4;
    --color-warning: #dcca91;
    --color-error: #db9f9b;
    --color-text-chips: #1d2328;
    --color-logout: #6a2b26;


    --shadow-sm: 0 1px 2px rgba(255, 255, 255, 0.1);
    --shadow-md: 0 4px 6px rgba(255, 255, 255, 0.1);
    --shadow-lg: 0 10px 20px rgba(255, 255, 255, 0.2);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-background-secondary);
}

h1,
h2,
h3 {
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-text-header);
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}
body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
}

body,
p {
    font-family: var(--font-family-body);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
}

.small-text {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
}

.caption {
    font-size: var(--font-size-xs);
}
.input-text {
    font-weight: var(--font-weight-medium);
}
a {
    text-decoration: none;
}
a:hover {
    color: var(--color-primary);
}

button {
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-md);
    color: var(--color-background-secondary);
    background-color: var(--color-primary);
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: var(--border-radius-rounded);
    border: none;
    transition: background-color var(--transition-speed) var(--transition-ease);
    cursor: pointer;
}

button:hover {
    background-color: var(--color-secondary);
}

input,
textarea {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-md);
    padding: var(--spacing-sm);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-sm);
    color: var(--color-text);
    background-color: var(--color-background);
    transition: border-color var(--transition-speed) var(--transition-ease);
}

input:focus,
textarea:focus {
    border-color: var(--color-primary);
    outline: none;
}
a {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}
